{% extends "base.html" %}
{% block title %}
select page
{% endblock %}

{% block content %}

<br>
<br>
<br>


로그인 페이지 입니당
<br>
<a href="{% url 'user:signup' %}">회원가입</a>
<br><br>
{% if user.is_authenticated %}
    로그인 완료
    {{user.username}}님 환영합니다.
    <a href="{% url 'user:logout' %}">로그아웃</a>
{% else %}
    

<form action="" method = "POST">
    {% csrf_token %}
    <input name = "username" type="text">
    <br><br>
    <input name = "password" type="password">
    <br>
    <input type = "submit" value="로그인">
</form>
{% endif %}



{% endblock %}