{% extends "base.html" %}
{% block title %}
select page
{% endblock %}

{% block content %}

<br>
<br>
<br>

회원가입 페이지
<br>
<form action="" method = "POST">
    {% csrf_token %}
    <p>아이디</p>
    <input name = "username" type="text">
    <br>
    <p>이메일</p>
    <input name = "email" type="text">
    <br>
    <p>비밀번호</p>
    <input name = "password" type="text">
    <br>
    <p>성별</p>
    <input name = "gender" type="text">
    <br>
    <p>스킨타입</p>
    <input name = "skintype" type="text">
    <br>
    <input type="submit" value="회원가입">
</form>



{% endblock %}