{% extends "base.html" %}
{% block title %}
select page
{% endblock %}

{% block content %}

<br>
<br>
<br>

<h1>회원가입</h1>
<br><br>
<form action="" method = "POST">
    {% csrf_token %}
    <p>아이디</p>
    <input name = "username" type="text">
    <br><br>
    <p>이메일</p>
    <input name = "email" type="email">
    <br><br>
    <p>비밀번호</p>
    <input name = "password" type="password">
    <br><br>
    <p>성별</p>
    <input name = "gender" type="radio" value="남">남자 
    <input name = "gender" type="radio" value="여">여자
    <br><br>
    <p>스킨타입</p>
    <input name = "skintype" type="text">
    <br><br>
    <input type="submit" value="회원가입">
</form>



{% endblock %}