@charset "utf-8";

.body-skinguide
    {
        padding : 50px;
    }
p{
    text-align: center;
}
h1{
    color: forestgreen;
    
}
input.chk
    {
        position : absolute; 
        left : -3000%; 
    }

input.chk + label
    {
        overflow : hidden;
        display : inline-block;
        position : relative;
        width : 200px;
        height : 30px;
        background : #749DFF;
        border-radius : 30px;
        transition : all 0.5s;
    }

input.chk + label:before
    {
        position : absolute;
        right : 2px;
        top : 2px;
        width : 26px;
        height : 26px;
        background : #16126F;
        border-radius : 30px;
        line-height : 26px;
        text-indent : -160px;
        color : #fff;
        transition : all 0.5s;
    }

/* before checklist */

input.chk + label.DO:before
    {
        content : "건성(D)";
    }

input.chk + label.SR:before
    {
        content : "민감성(S)";
    }

input.chk + label.PN:before
    {
        content : "색소성(P)";
    }

input.chk + label.WT:before
    {
        content : "주름성(W)";
    }



input.chk:checked + label:before
    {
        right : 172px;
        background : #5F1516;
    }

input.chk:checked + label
    {
        background : #E44E4E;
    }

input.chk + label:after
    {
        position : absolute;
        right : -100px;
        top : 2px;
        color : #fff;
        line-height : 26px;
        transition : all 0.5s;
    }

/* after checklist */

input.chk + label.DO:after
    {
        content : "지성(O)";
    }

input.chk + label.SR:after
    {
        content : "저항성(R)";
    }

input.chk + label.PN:after
    {
        content : "비색소성(N)";
    }

input.chk + label.WT:after
    {
        content : "탄력성(T)";
    }


input.chk:checked + label:after
    {
        right : 10px;
    }
