<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>base page</title>
    <link rel="stylesheet" href="base.css">
    <style type="text/css">
        a {text-decoration:none }
    </style>   
</head>
<body>
    <header>
        <a href=""><img src="../images/LOGO.png" alt="LOGO"></a>
        <div>
            <input type="text" placeholder="LOHBs만의 맞춤서비스">
            <button>Go</button>
        </div>
        <a href=""><p><b>로그인</b></p></a>  <a href=""><p><b>회원가입</b></p></a>
    </header>
    <nav>
        <ul class="nav-container">
            <li class="nav-item"><a href=""><b>홈</b></a></li>
            <li class="nav-item"><a href=""><b>랭킹</b></a></li>
            <li class="nav-item"><a href=""><b>MD추천</b></a></li>
            <li class="nav-item"><a href=""><b>롭스딜</b></a></li>
            <li class="nav-item"><a href=""><b>이벤트</b></a></li>
            <li class="nav-item"><a href=""><b>기획전</b></a></li>
            <li class="nav-item"><a href=""><b>SKIN GUIDE</b></a></li>
        </ul>
    </nav>

</body>
</html>