{% extends "base.html" %}
{% block title %}
select page
{% endblock %}
{% load static %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>select</title>
    <link rel="stylesheet" href="{% static 'css/select.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>

<body>

    <div id="stepsContainer">
        <a href=""><div class="col-md-4 stepsBox">
            <div class="claimSteps" id="stepOne">
                <p class="claimStepNumber">1</p>
                <p class="claimStepTitle">피부성향 테스트하기</p>
                <p class="claimStepText">자신의 피부성향을 잘 모르는 경우</p>
            </div>
        </div>
        </a>
        <a href="">
            <div class="col-md-4 stepsBox">
                <div class="claimSteps" id="stepTwo">
                    <p class="claimStepNumber">2</p>
                    <p class="claimStepTitle">피부성향 등록하기</p>
                    <p class="claimStepText">자신의 피부성향을 잘 아는 경우</p>
                </div>
            </div>
        </a>
    </div>

</body>

{% endblock %}