
{% extends "base.html" %}
{% block title %}
select page
{% endblock %}
{% load static %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="ko">
    <head>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    
    <body>
        
        <img style="max-width: 100%; max-height: 100%;" src="{% static 'img/slide (1).PNG' %}">
        <img style="max-width: 100%; max-height: 100%;" src="{% static 'img/slide (2).PNG' %}">
        <img style="max-width: 100%; max-height: 100%;" src="{% static 'img/slide (3).PNG' %}">
        <img style="max-width: 100%; max-height: 100%;" src="{% static 'img/slide (4).PNG' %}">
        <img style="max-width: 100%; max-height: 100%;" src="{% static 'img/slide (5).PNG' %}">
        <img style="max-width: 100%; max-height: 100%;" src="{% static 'img/slide (6).PNG' %}">
        <img style="max-width: 100%; max-height: 100%;" src="{% static 'img/slide (7).PNG' %}">
        <img style="max-width: 100%; max-height: 100%;" src="{% static 'img/slide (8).PNG' %}">
        <img style="max-width: 100%; max-height: 100%;" src="{% static 'img/slide (9).PNG' %}">
        <img style="max-width: 100%; max-height: 100%;" src="{% static 'img/slide (11).PNG' %}">
        <img style="max-width: 100%; max-height: 100%;" src="{% static 'img/slide (12).PNG' %}">
        <img style="max-width: 100%; max-height: 100%;" src="{% static 'img/slide (13).PNG' %}">

    </body>
    
</html>


{% endblock %}