
<h1>skin type test</h1>

<h3>건성 (Dry) vs 지성 (Oily)</h3>

<!--1번 질문-->
<label for="">1. 클렌징 후에, 아무것도 바르지 말고 2~3시간 후에 밝은 빛 아래서 거울을 보세요. 이마와 볼이 어떻게 보이고 느껴지나요?</label>
<br>
<br>
<input type="radio" id ="DOselect" name = "DOselect1" value = "D">
<label for="">비교적 당기는 편이다.</label>
<br>
<input type="radio" id ="DOselect" name = "DOselect1" value = "O">
<label for="">비교적 번들거리는 편이다.</label>
<br>
<br>
<br>

<!--2번 질문-->
<label for="">2. 사진을 찍었을 때, 피부가 번들거리나요?</label>
<br>
<br>
<input type="radio" id ="DOselect" name = "DOselect2" value = "D">
<label for="">그렇지 않은 편이다.</label>
<br>
<input type="radio" id ="DOselect" name = "DOselect2" value = "O">
<label for="">그런 편이다.</label>
<br>
<br>
<br>

<!--3번 질문-->
<label for="">3. 건조할 때 모이스처라이저나 선크림을 안 바르면 당신의 피부는 어떠한가요?</label>
<br>
<br>
<input type="radio" id ="DOselect" name = "DOselect3" value = "D">
<label for="">건조한 편이다.</label>
<br>
<input type="radio" id ="DOselect" name = "DOselect3" value = "O">
<label for="">정상이거나 번들거리는 편이다.</label>
<br>
<br>
<br>


<h3>민감성(Sensitive) vs 저항성(Resistant)</h3>

<!--1번 질문-->
<label for="">1. 얼굴에 붉은 여드름이 있습니까?</label>
<br>
<br>
<input type="radio" id ="SRselect" name = "SRselect1" value = "R">
<label for="">없는 편이다.</label>
<br>
<input type="radio" id ="SRselect" name = "SRselect1" value = "S">
<label for="">최소 한달에 한번이상 붉은 여드름이 나는편이다.</label>
<br>
<br>
<br>

<!--2번 질문-->
<label for="">2. 스킨케어 제품을 적용했을 때 얼굴에 뭐가 나고 발진이나, 가렵고 쏘는 듯한 증상을 일으킵니까?</label>
<br>
<br>
<input type="radio" id ="SRselect" name = "SRselect2" value = "R">
<label for="">없는 편이다.</label>
<br>
<input type="radio" id ="SRselect" name = "SRselect2" value = "S">
<label for="">종종 있는 편이다.</label>
<br>
<br>
<br>

<!--3번 질문-->
<label for="">3. 아토피, 습진 또는 접촉성 피부염으로 진단 받은 적이 있습니까?</label>
<br>
<br>
<input type="radio" id ="SRselect" name = "SRselect3" value = "R">
<label for="">아니오</label>
<br>
<input type="radio" id ="SRselect" name = "SRselect3" value = "S">
<label for="">네</label>
<br>
<br>
<br>


<h3>색소성(Pigmented) vs 비색소성 (Non-Pigmented)</h3>

<!--1번 질문-->
<label for="">1. 무엇에 비었을 때, 어둡거나 붉은기가 얼마나 오래도록 남아있습니까?</label>
<br>
<br>
<input type="radio" id ="PNselect" name = "PNselect1" value = "N">
<label for="">1주 미만</label>
<br>
<input type="radio" id ="PNselect" name = "PNselect1" value = "P">
<label for="">1주 이상</label>
<br>
<br>
<br>

<!--2번 질문-->
<label for="">2. 몇 일동안 지속적으로 햇볕을 본다면 무슨 일이 일어납니까?</label>
<br>
<br>
<input type="radio" id ="PNselect" name = "PNselect2" value = "N">
<label for="">선번과 물집, 그러나 피부색의 변화가 없거나 미세합니다.</label>
<br>
<input type="radio" id ="PNselect" name = "PNselect2" value = "P">
<label for="">내 피부는 많이 어두워지거나 검어집니다.</label>
<br>
<br>
<br>

<!--3번 질문-->
<label for="">3. 기미, 좀 옅거나 어두운 브라운색 또는 그레이 패치가 있다고 진단 받은 적이 있나요?</label>
<br>
<br>
<input type="radio" id ="PNselect" name = "PNselect3" value = "N">
<label for="">없거나 과거에 그랬지만 지금은 없습니다.</label>
<br>
<input type="radio" id ="PNselect" name = "PNselect3" value = "P">
<label for="">지금도 있습니다.</label>
<br>
<br>
<br>


<h3>주름성(Wrinkled) vs 탄력성(Tight)</h3>

<!--1번 질문-->
<label for="">1. 얼굴에 주름이 있습니까?</label>
<br>
<br>
<input type="radio" id ="WTselect" name = "WTselect1" value = "W">
<label for="">없는 편입니다. 가끔 웃거나 찡그리거나 눈썹을 들어올리면 생길 수도 있습니다.</label>
<br>
<input type="radio" id ="WTselect" name = "WTselect1" value = "T">
<label for="">표정을 지을 때 생기고, 표정을 짓지 않아도 주름이 있는 편입니다.</label>
<br>
<br>
<br>

<!--2번 질문-->
<label for="">2. 보기에 나이가 어느정도 되어 보입니까?</label>
<br>
<br>
<input type="radio" id ="WTselect" name = "WTselect2" value = "T">
<label for="">나이보다 젊어보이거나 제 나이로 보입니다.</label>
<br>
<input type="radio" id ="WTselect" name = "WTselect2" value = "W">
<label for="">나이보다 많아보입니다.</label>
<br>
<br>
<br>

<!--3번 질문-->
<label for="">3. 사는 곳을 기준으로 하루에 얼마나 많이 태양이 노출되어 지내십니까?</label>
<br>
<br>
<input type="radio" id ="WTselect" name = "WTselect3" value = "T">
<label for="">비교적 노출되어 있지 않은 편입니다.</label>
<br>
<input type="radio" id ="WTselect" name = "WTselect3" value = "W">
<label for="">비교적 노출되어 있는 편입니다.</label>
<br>
<br>


<br>


<!-- 버튼 누르면 결과창 팝업 뜨고 등록버튼 누르면 직접 등록하도록 skincheck 페이지로 넘어감 -->


<!-- 버튼 -->

<body>
        

    <button class = "trigger">피부타입 결과보기</button>


    <!-- 팝업창 -->

    <div class="modal"> 
        <div class="modal-content"> 
            <span class="close-button">&times;</span> 
            <h1 class="title">당신은 <span id="result">____</span>입니다!</h1> 
            <!--<form action="#post.php" method="POST"> -->
            <input type="button" id="cancel" value="피부유형 등록하기" onclick="location.href='../skincheck'"> 
            </form> 
        </div> 
    </div>


    <script type="text/javascript"> 
        var modal = document.querySelector(".modal"); 
        var trigger = document.querySelector(".trigger"); 
        var closeButton = document.querySelector(".close-button"); 
        var cancelButton = document.querySelector("#cancel");
        var result = document.getElementById('result');
        

    function toggleModal() {
        
        modal.classList.toggle("show-modal"); 
            
        
        
    }

    function windowOnClick(event) { 
        var DOselect = document.querySelectorAll('input[id="DOselect"]:checked')
        var SRselect = document.querySelectorAll('input[id="SRselect"]:checked')
        var PNselect = document.querySelectorAll('input[id="PNselect"]:checked')
        var WTselect = document.querySelectorAll('input[id="WTselect"]:checked')
        var radioselect = document.querySelectorAll('input[type="radio"]:checked')

        var Dcount = 0; var Scount = 0; var Pcount = 0; var Wcount = 0;
        var skinSting = '';
        // if (radioselect==12){

            for(var i=0; i<DOselect.length; i++){
            if (DOselect[i].value == 'D'){
                Dcount += 1;
                
            }
            if (SRselect[i].value == 'S'){
                Scount += 1;
                
            }
            if (PNselect[i].value == 'P'){
                Pcount += 1;
                
            }
            if (WTselect[i].value == 'W'){
                Wcount += 1;
            }
        }
        if(Dcount>=2){
            skinSting += 'D';
        }else{
            skinSting += 'O';
        }

        if(Scount>=2){
            skinSting += 'S';
        }else{
            skinSting += 'R';
        }

        if(Pcount>=2){
            skinSting += 'P';
        }else{
            skinSting += 'N';
        }

        if(Wcount>=2){
            skinSting += 'W';
        }else{
            skinSting += 'T';
        }

        result.innerText = skinSting;
        if (event.target == modal) { 
                toggleModal(); 
            } 
    // }else{
    //         result.innerText = '응답하지 않은 문항이 있어, 피부타입을 알 수 없는 사람(이후 새로고침 필요)';
    //         // setTimeout("location.reload()", 1000);
    //         if (event.target == modal) { 
    //             toggleModal();
    //         }
            
    //     }
            
        }

        trigger.addEventListener("click", toggleModal); 
        closeButton.addEventListener("click", toggleModal); 
        cancel.addEventListener("click", toggleModal); 
        window.addEventListener("click", windowOnClick); 
    </script>


    <style type="text/css"> 
    body{ 
        text-align: center; 
        display: block; 
        margin: 0 auto; 
        font-size: 16px; 
        color: #999; 
    } 
    h1{ 
        font-family: 'Oswald', sans-serif; 
        font-size: 30px; 
        color: #216182; 
    } 
    label { 
        display: block; 
        margin-top: 20px; 
        letter-spacing: 2px; 
    } 
    form { 
        margin: 0 auto; 
        width: 459px; 
    } 
    input, textarea { 
        width: 439px; 
        height: 27px; 
        background-color: #efefef; 
        border-radius: 6px; 
        border: 1px solid #dedede; 
        padding: 10px; 
        margin-top: 3px; 
        font-size: 0.9em; 
        color: #3a3a3a; 
    } 
        input:focus, textarea:focus{ 
            border: 1px solid #97d6eb; 
        } 
    
    textarea{ 
        height: 60px; 
        background-color: #efefef; 
    } 
    #submit{ 
        width: 127px; 
        height: 48px; 
        text-align: center; 
        border: none; 
        margin-top: 20px; 
        cursor: pointer; 
    } 
    #submit:hover{ 
        color: #fff; 
        background-color: #216282; 
        opacity: 0.9; 
    } 
    #cancel { 
        width: 127px; height: 48px; 
        text-align: center; 
        border: none; 
        margin-top: 20px; 
        cursor: pointer; 
    } 
    #cancel:hover{ 
        color: #fff; 
        background-color: #216282; 
        opacity: 0.9; 
    }

    .modal { 
        position: fixed; 
        left: 0; 
        top: 0; 
        width: 100%; 
        height: 100%; 
        background-color: rgba(0, 0, 0, 0.5); 
        opacity: 0; 
        visibility: hidden; 
        transform: scale(1.1); 
        transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s; 
    } 
    .modal-content { 
        position: absolute; 
        top: 50%; 
        left: 50%; 
        transform: translate(-50%, -50%); 
        background-color: white; 
        padding: 1rem 1.5rem; 
        width: 500px; 
        height: 350px; 
        border-radius: 0.5rem; 
    } 
    .close-button { 
        float: right; 
        width: 1.5rem; 
        line-height: 1.5rem; 
        text-align: center; 
        cursor: pointer; 
        border-radius: 0.25rem; 
        background-color: lightgray; 
    } 
    .close-button:hover { 
        background-color: darkgray; 
    } 
    .show-modal { 
        opacity: 1; 
        visibility: visible; 
        transform: scale(1.0); 
        transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s; 
    } 
    </style>


</body>
