<h1>skin type test</h1>

<h3>건성 (Dry) vs 지성 (Oily)</h3>

<!--1번 질문-->
<label for="">1. 클렌징 후에, 아무것도 바르지 말고 2~3시간 후에 밝은 빛 아래서 거울을 보세요. 이마와 볼이 어떻게 보이고 느껴지나요?</label>
<br>
<br>
<input type="radio" id ="1" name = "do1" value = "">
<label for="">매우 거칠고, 버석거리고 각질이 들떠 보입니다.</label>
<br>
<input type="radio" id ="2" name = "do1" value = "">
<label for="">당깁니다.</label>
<br>
<input type="radio" id ="3" name = "do1" value = "">
<label for="">당기지 않고 건조해 보이지 않고 번들거리지 않습니다.</label>
<br>
<input type="radio" id ="4" name = "do1" value = "">
<label for="">밝은 빛에 반사되는 듯이 번들거립니다.</label>
<br>
<br>

<!--2번 질문-->
<label for="">2. 사진을 찍었을 때, 피부가 번들거리나요?</label>
<br>
<br>
<input type="radio" id ="1" name = "do2" value = "">
<label for="">결코 그렇지 않습니다.</label>
<br>
<input type="radio" id ="2" name = "do2" value = "">
<label for="">때때로</label>
<br>
<input type="radio" id ="3" name = "do2" value = "">
<label for="">자주</label>
<br>
<input type="radio" id ="4" name = "do2" value = "">
<label for="">항상</label>
<br>
<br>

<!--3번 질문-->
<label for="">3. 건조할 때 모이스처라이저나 선크림을 안 바르면 당신의 피부는 어떠한가요?</label>
<br>
<br>
<input type="radio" id ="1" name = "do3" value = "">
<label for="">건조하고 갈라질 것 같습니다.</label>
<br>
<input type="radio" id ="2" name = "do3" value = "">
<label for="">당김을 느낍니다.</label>
<br>
<input type="radio" id ="3" name = "do3" value = "">
<label for="">정상적입니다.</label>
<br>
<input type="radio" id ="4" name = "do3" value = "">
<label for="">번들거리고 모이스처라이저가 필요 없습니다.</label>
<br>
<br>


<h3>민감성(Sensitive) vs 저항성(Resistant)</h3>

<!--1번 질문-->
<label for="">1. 얼굴에 붉은 여드름이 있습니까?</label>
<br>
<br>
<input type="radio" id ="1" name = "sr1" value = "">
<label for="">결코 없습니다.</label>
<br>
<input type="radio" id ="2" name = "sr1" value = "">
<label for="">거의 없습니다.</label>
<br>
<input type="radio" id ="3" name = "sr1" value = "">
<label for="">최소한 한달에 한번정도</label>
<br>
<input type="radio" id ="4" name = "sr1" value = "">
<label for="">최소한 한주에 한번정도</label>
<br>
<br>

<!--2번 질문-->
<label for="">2. 스킨케어 제품을 적용했을 때 얼굴에 뭐가 나고 발진이나, 가렵고 쏘는 듯한 증상을 일으킵니까?</label>
<br>
<br>
<input type="radio" id ="1" name = "sr2" value = "">
<label for="">결코 그렇지 않습니다.</label>
<br>
<input type="radio" id ="2" name = "sr2" value = "">
<label for="">거의 없습니다.</label>
<br>
<input type="radio" id ="3" name = "sr2" value = "">
<label for="">자주</label>
<br>
<input type="radio" id ="4" name = "sr2" value = "">
<label for="">항상</label>
<br>
<br>

<!--3번 질문-->
<label for="">3. 아토피, 습진 또는 접촉성 피부염으로 진단 받은 적이 있습니까?</label>
<br>
<br>
<input type="radio" id ="1" name = "sr3" value = "">
<label for="">아니오</label>
<br>
<input type="radio" id ="2" name = "sr3" value = "">
<label for="">친구들이 내가 그렇다고 이야기합니다</label>
<br>
<input type="radio" id ="3" name = "sr3" value = "">
<label for="">네</label>
<br>
<input type="radio" id ="4" name = "sr3" value = "">
<label for="">네 심각한 상태</label>
<br>
<br>


<h3>색소성(Pigmented) vs 비색소성 (Non-Pigmented)</h3>

<!--1번 질문-->
<label for="">1. 무엇에 비었을 때, 어둡거나 붉은기가 얼마나 오래도록 남아있습니까?</label>
<br>
<br>
<input type="radio" id ="1" name = "pn1" value = "">
<label for="">없거나 본적 없습니다.</label>
<br>
<input type="radio" id ="2" name = "pn1" value = "">
<label for="">1주</label>
<br>
<input type="radio" id ="3" name = "pn1" value = "">
<label for="">몇 주</label>
<br>
<input type="radio" id ="4" name = "pn1" value = "">
<label for="">여러 달</label>
<br>
<br>

<!--2번 질문-->
<label for="">2. 몇 일동안 지속적으로 햇볕을 본다면 무슨 일이 일어납니까?</label>
<br>
<br>
<input type="radio" id ="1" name = "pn2" value = "">
<label for="">선번과 물집, 그러나 피부색은 변화 없습니다.</label>
<br>
<input type="radio" id ="2" name = "pn2" value = "">
<label for="">내 피부는 좀더 어두워집니다.</label>
<br>
<input type="radio" id ="3" name = "pn2" value = "">
<label for="">내 피부는 많이 어두워집니다.</label>
<br>
<input type="radio" id ="4" name = "pn2" value = "">
<label for="">내 피부는 이미 검다 또는 검어졌다는 것을 잘 모르겠습니다.</label>
<br>
<br>

<!--3번 질문-->
<label for="">3. 기미, 좀 옅거나 어두운 브라운색 또는 그레이 패치가 있다고 진단 받은 적이 있나요?</label>
<br>
<br>
<input type="radio" id ="1" name = "pn3" value = "">
<label for="">없습니다.</label>
<br>
<input type="radio" id ="2" name = "pn3" value = "">
<label for="">그런 적이 있지만 지금은 없습니다.</label>
<br>
<input type="radio" id ="3" name = "pn3" value = "">
<label for="">지금도 있습니다.</label>
<br>
<input type="radio" id ="4" name = "pn3" value = "">
<label for="">심각하게 많습니다.</label>
<br>
<br>


<h3>주름성(Wrinkled) vs 탄력성(Tight)</h3>

<!--1번 질문-->
<label for="">1. 얼굴에 주름이 있습니까?</label>
<br>
<br>
<input type="radio" id ="1" name = "wt1" value = "">
<label for="">아니요. 웃거나 찡그리거나 눈썹을 들어올려도 생기지 않습니다.</label>
<br>
<input type="radio" id ="2" name = "wt1" value = "">
<label for="">표정을 지을 때만 생깁니다.</label>
<br>
<input type="radio" id ="3" name = "wt1" value = "">
<label for="">표정을 지을 때도 생기고 표정을 짓지 않아도 주름이 좀 있습니다.</label>
<br>
<input type="radio" id ="4" name = "wt1" value = "">
<label for="">어떤 표정도 짓고 있지 않아도 주름들이 있습니다.</label>
<br>
<br>

<!--2번 질문-->
<label for="">2. 보기에 나이가 어느정도 되어 보입니까?</label>
<br>
<br>
<input type="radio" id ="1" name = "wt2" value = "">
<label for="">나이보다 1-5년정도 젊어 보임</label>
<br>
<input type="radio" id ="2" name = "wt2" value = "">
<label for="">그대로의 나이로 보임</label>
<br>
<input type="radio" id ="3" name = "wt2" value = "">
<label for="">5년정도 더 많아 보임</label>
<br>
<input type="radio" id ="4" name = "wt2" value = "">
<label for="">5년 이상 더 많아 보임</label>
<br>
<br>

<!--3번 질문-->
<label for="">3. 사는 곳을 기준으로 하루에 얼마나 많이 태양이 노출되어 지내십니까?</label>
<br>
<br>
<input type="radio" id ="1" name = "wt3" value = "">
<label for="">거의 없음 : 대부분 실내에 머물고 햇빛을 많이 보는 지역이 아닙니다.</label>
<br>
<input type="radio" id ="2" name = "wt3" value = "">
<label for="">약간 : 햇빛이 강하지는 않으나 일반적으로 해를 보고 삽니다.</label>
<br>
<input type="radio" id ="3" name = "wt3" value = "">
<label for="">중간 정도 : 꽤 햇빛 노출되어 지냅니다.</label>
<br>
<input type="radio" id ="4" name = "wt3" value = "">
<label for="">많음 : 적도부위, 햇빛이 쨍쨍한 지역에 삽니다</label>
<br>


<br>
<input type="button" value = "입력완료">