
<h1>skin type test</h1>

<h2>-건성 (Dry) vs 지성 (Oily)-</h2>

<!--1번 질문-->
<label for="" class = "question">1. 클렌징 후에, 아무것도 바르지 말고 2~3시간 후에 밝은 빛 아래서 거울을 보세요. 이마와 볼이 어떻게 보이고 느껴지나요?</label>
<br>
<br>

<section class = "section">
    <input type="radio" id ="1" name = "do1" value = "">
    <label for="">매우 거칠고, 버석거리고 각질이 들떠 보입니다.</label>
    <br>
    <input type="radio" id ="2" name = "do1" value = "">
    <label for="">당깁니다.</label>
    <br>
    <input type="radio" id ="3" name = "do1" value = "">
    <label for="">당기지 않고 건조해 보이지 않고 번들거리지 않습니다.</label>
    <br>
    <input type="radio" id ="4" name = "do1" value = "">
    <label for="">밝은 빛에 반사되는 듯이 번들거립니다.</label>
</section>

<br>
<br>

<!--2번 질문-->
<label for="" class = "question">2. 사진을 찍었을 때, 피부가 번들거리나요?</label>
<br>
<br>

<section class = "section">
    <input type="radio" id ="1" name = "do2" value = "">
    <label for="">결코 그렇지 않습니다.</label>
    <br>
    <input type="radio" id ="2" name = "do2" value = "">
    <label for="">때때로</label>
    <br>
    <input type="radio" id ="3" name = "do2" value = "">
    <label for="">자주</label>
    <br>
    <input type="radio" id ="4" name = "do2" value = "">
    <label for="">항상</label>
</section>

<br>
<br>

<!--3번 질문-->
<label for="" class = "question">3. 건조할 때 모이스처라이저나 선크림을 안 바르면 당신의 피부는 어떠한가요?</label>
<br>
<br>

<section class = "section">
    <input type="radio" id ="1" name = "do3" value = "">
    <label for="">건조하고 갈라질 것 같습니다.</label>
    <br>
    <input type="radio" id ="2" name = "do3" value = "">
    <label for="">당김을 느낍니다.</label>
    <br>
    <input type="radio" id ="3" name = "do3" value = "">
    <label for="">정상적입니다.</label>
    <br>
    <input type="radio" id ="4" name = "do3" value = "">
    <label for="">번들거리고 모이스처라이저가 필요 없습니다.</label>
</section>

<br>
<br>


<h2>-민감성(Sensitive) vs 저항성(Resistant)-</h2>

<!--1번 질문-->
<label for="" class = "question">1. 얼굴에 붉은 여드름이 있습니까?</label>
<br>
<br>

<section class = "section">
    <input type="radio" id ="1" name = "sr1" value = "">
    <label for="">결코 없습니다.</label>
    <br>
    <input type="radio" id ="2" name = "sr1" value = "">
    <label for="">거의 없습니다.</label>
    <br>
    <input type="radio" id ="3" name = "sr1" value = "">
    <label for="">최소한 한달에 한번정도</label>
    <br>
    <input type="radio" id ="4" name = "sr1" value = "">
    <label for="">최소한 한주에 한번정도</label>
</section>

<br>
<br>

<!--2번 질문-->
<label for="" class = "question">2. 스킨케어 제품을 적용했을 때 얼굴에 뭐가 나고 발진이나, 가렵고 쏘는 듯한 증상을 일으킵니까?</label>
<br>
<br>

<section class = "section">
    <input type="radio" id ="1" name = "sr2" value = "">
    <label for="">결코 그렇지 않습니다.</label>
    <br>
    <input type="radio" id ="2" name = "sr2" value = "">
    <label for="">거의 없습니다.</label>
    <br>
    <input type="radio" id ="3" name = "sr2" value = "">
    <label for="">자주</label>
    <br>
    <input type="radio" id ="4" name = "sr2" value = "">
    <label for="">항상</label>
</section>

<br>
<br>

<!--3번 질문-->
<label for="" class = "question">3. 아토피, 습진 또는 접촉성 피부염으로 진단 받은 적이 있습니까?</label>
<br>
<br>

<section class = "section">
    <input type="radio" id ="1" name = "sr3" value = "">
    <label for="">아니오</label>
    <br>
    <input type="radio" id ="2" name = "sr3" value = "">
    <label for="">친구들이 내가 그렇다고 이야기합니다</label>
    <br>
    <input type="radio" id ="3" name = "sr3" value = "">
    <label for="">네</label>
    <br>
    <input type="radio" id ="4" name = "sr3" value = "">
    <label for="">네 심각한 상태</label>
</section>

<br>
<br>


<h2>-색소성(Pigmented) vs 비색소성 (Non-Pigmented)-</h2>

<!--1번 질문-->
<label for="" class = "question">1. 무엇에 비었을 때, 어둡거나 붉은기가 얼마나 오래도록 남아있습니까?</label>
<br>
<br>

<section class = "section">
    <input type="radio" id ="1" name = "pn1" value = "">
    <label for="">없거나 본적 없습니다.</label>
    <br>
    <input type="radio" id ="2" name = "pn1" value = "">
    <label for="">1주</label>
    <br>
    <input type="radio" id ="3" name = "pn1" value = "">
    <label for="">몇 주</label>
    <br>
    <input type="radio" id ="4" name = "pn1" value = "">
    <label for="">여러 달</label>
</section>

<br>
<br>

<!--2번 질문-->
<label for="" class = "question">2. 몇 일동안 지속적으로 햇볕을 본다면 무슨 일이 일어납니까?</label>
<br>
<br>

<section class = "section">
    <input type="radio" id ="1" name = "pn2" value = "">
    <label for="">선번과 물집, 그러나 피부색은 변화 없습니다.</label>
    <br>
    <input type="radio" id ="2" name = "pn2" value = "">
    <label for="">내 피부는 좀더 어두워집니다.</label>
    <br>
    <input type="radio" id ="3" name = "pn2" value = "">
    <label for="">내 피부는 많이 어두워집니다.</label>
    <br>
    <input type="radio" id ="4" name = "pn2" value = "">
    <label for="">내 피부는 이미 검다 또는 검어졌다는 것을 잘 모르겠습니다.</label>
</section>

<br>
<br>

<!--3번 질문-->
<label for="" class = "question">3. 기미, 좀 옅거나 어두운 브라운색 또는 그레이 패치가 있다고 진단 받은 적이 있나요?</label>
<br>
<br>

<section class = "section">
    <input type="radio" id ="1" name = "pn3" value = "">
    <label for="">없습니다.</label>
    <br>
    <input type="radio" id ="2" name = "pn3" value = "">
    <label for="">그런 적이 있지만 지금은 없습니다.</label>
    <br>
    <input type="radio" id ="3" name = "pn3" value = "">
    <label for="">지금도 있습니다.</label>
    <br>
    <input type="radio" id ="4" name = "pn3" value = "">
    <label for="">심각하게 많습니다.</label>
</section>

<br>
<br>


<h2>-주름성(Wrinkled) vs 탄력성(Tight)-</h2>

<!--1번 질문-->
<label for="" class = "question">1. 얼굴에 주름이 있습니까?</label>
<br>
<br>

<section class = "section">
    <input type="radio" id ="1" name = "wt1" value = "">
    <label for="">아니요. 웃거나 찡그리거나 눈썹을 들어올려도 생기지 않습니다.</label>
    <br>
    <input type="radio" id ="2" name = "wt1" value = "">
    <label for="">표정을 지을 때만 생깁니다.</label>
    <br>
    <input type="radio" id ="3" name = "wt1" value = "">
    <label for="">표정을 지을 때도 생기고 표정을 짓지 않아도 주름이 좀 있습니다.</label>
    <br>
    <input type="radio" id ="4" name = "wt1" value = "">
    <label for="">어떤 표정도 짓고 있지 않아도 주름들이 있습니다.</label>
</section>

<br>
<br>

<!--2번 질문-->
<label for="" class = "question">2. 보기에 나이가 어느정도 되어 보입니까?</label>
<br>
<br>

<section class = "section">
    <input type="radio" id ="1" name = "wt2" value = "">
    <label for="">나이보다 1-5년정도 젊어 보임</label>
    <br>
    <input type="radio" id ="2" name = "wt2" value = "">
    <label for="">그대로의 나이로 보임</label>
    <br>
    <input type="radio" id ="3" name = "wt2" value = "">
    <label for="">5년정도 더 많아 보임</label>
    <br>
    <input type="radio" id ="4" name = "wt2" value = "">
    <label for="">5년 이상 더 많아 보임</label>
</section>

<br>
<br>

<!--3번 질문-->
<label for="" class = "question">3. 사는 곳을 기준으로 하루에 얼마나 많이 태양이 노출되어 지내십니까?</label>
<br>
<br>

<section class = "section">
    <input type="radio" id ="1" name = "wt3" value = "">
    <label for="">거의 없음 : 대부분 실내에 머물고 햇빛을 많이 보는 지역이 아닙니다.</label>
    <br>
    <input type="radio" id ="2" name = "wt3" value = "">
    <label for="">약간 : 햇빛이 강하지는 않으나 일반적으로 해를 보고 삽니다.</label>
    <br>
    <input type="radio" id ="3" name = "wt3" value = "">
    <label for="">중간 정도 : 꽤 햇빛 노출되어 지냅니다.</label>
    <br>
    <input type="radio" id ="4" name = "wt3" value = "">
    <label for="">많음 : 적도부위, 햇빛이 쨍쨍한 지역에 삽니다</label>
</section>

<br>


<br>


<!-- 버튼 누르면 결과창 팝업 뜨고 등록버튼 누르면 직접 등록하도록 skincheck 페이지로 넘어감 -->


<!-- 버튼 -->

<body>
        

    <button class = "trigger">피부타입 결과보기</button>

    <br><br><br>


    <!-- 팝업창 -->

    <div class="modal"> 
        <div class="modal-content"> 
            <span class="close-button">&times;</span> 
            <h1 class="title">당신은 <span id="result">____</span>입니다!</h1> 
            <!--<form action="#post.php" method="POST"> -->
            <input type="button" id="cancel" value="피부유형 등록하기" onclick="location.href='../skincheck'"> 
            </form> 
        </div> 
    </div>


    <script type="text/javascript"> 
        var modal = document.querySelector(".modal"); 
        var trigger = document.querySelector(".trigger"); 
        var closeButton = document.querySelector(".close-button"); 
        var cancelButton = document.querySelector("#cancel");
        var result = document.getElementById('result');

    //console.log(modal);

    function toggleModal() { 
        result.innerText = "ABCD";
            modal.classList.toggle("show-modal"); 
        }

    function windowOnClick(event) { 
            if (event.target === modal) { 
                toggleModal(); 
            } 
        }

    trigger.addEventListener("click", toggleModal); 
        closeButton.addEventListener("click", toggleModal); 
        cancel.addEventListener("click", toggleModal); 
        window.addEventListener("click", windowOnClick); 
    </script>


    <style type="text/css"> 
    body{ 
        text-align: center; 
        display: block; 
        margin: 0 auto; 
        font-size: 16px; 
        color: #999; 
    } 

    section {
        background-color: #f5f1cd;

    }

    .question {
        size : 25px;
        height: 5%;
        color : black;
        font-family: 'Oswald', sans-serif; 

        border : solid;
        border-color: orangered;
        border-width: 2px;
        border-style: dashed;
    }

    h1{ 
        font-family: 'Oswald', sans-serif; 
        font-size: 30px; 
        color: #216182; 
    } 
    label { 
        display: block; 
        margin-top: 20px; 
        letter-spacing: 2px; 
    } 

    form { 
        margin: 0 auto; 
        width: 459px; 
    } 

    button {
        border-radius: 10px;
        size : 150%;
    }

    input, textarea { 
        width: 439px; 
        height: 27px; 
        background-color: #efefef; 
        border-radius: 6px; 
        border: 1px solid #dedede; 
        padding: 10px; 
        margin-top: 3px; 
        font-size: 0.9em; 
        color: #3a3a3a; 
    } 
        input:focus, textarea:focus{ 
            border: 1px solid #97d6eb; 
        } 
    
    textarea{ 
        height: 60px; 
        background-color: #efefef; 
    } 
    #submit{ 
        width: 127px; 
        height: 48px; 
        text-align: center; 
        border: none; 
        margin-top: 20px; 
        cursor: pointer; 
    } 
    #submit:hover{ 
        color: #fff; 
        background-color: #216282; 
        opacity: 0.9; 
    } 
    #cancel { 
        width: 127px; height: 48px; 
        text-align: center; 
        border: none; 
        margin-top: 20px; 
        cursor: pointer; 
    } 
    #cancel:hover{ 
        color: #fff; 
        background-color: #216282; 
        opacity: 0.9; 
    }

    .modal { 
        position: fixed; 
        left: 0; 
        top: 0; 
        width: 100%; 
        height: 100%; 
        background-color: rgba(0, 0, 0, 0.5); 
        opacity: 0; 
        visibility: hidden; 
        transform: scale(1.1); 
        transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s; 
    } 
    .modal-content { 
        position: absolute; 
        top: 50%; 
        left: 50%; 
        transform: translate(-50%, -50%); 
        background-color: white; 
        padding: 1rem 1.5rem; 
        width: 500px; 
        height: 350px; 
        border-radius: 0.5rem; 
    } 
    .close-button { 
        float: right; 
        width: 1.5rem; 
        line-height: 1.5rem; 
        text-align: center; 
        cursor: pointer; 
        border-radius: 0.25rem; 
        background-color: lightgray; 
    } 
    .close-button:hover { 
        background-color: darkgray; 
    } 
    .show-modal { 
        opacity: 1; 
        visibility: visible; 
        transform: scale(1.0); 
        transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s; 
    } 
    </style>


</body>
